.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    .card__main {
        .card__img{

            height: 500px;
        }
        .card__body{
            min-height: 290px;
    
            .card-text {
                min-height: 150px;
            }
        }

    }



}