<main class="main">
  <div class="main__title">
    <h1 class="title__text">Proyectos</h1>
  </div>
  <div class="main__container">
    <div class="card mian__card" style="width: 30rem;">
      <img src="assets/wow.png" class="card__img" alt="imagen de proyecto">
      <div class="card-body card__body">
        <h5 class="card-title">WOW - Team Wipe Guild</h5>
        <p class="card-text card__text">El trabajo se basó en lo visto en el curso HTML, CSS. Uso de Bootstrap y SASS.
          Se
          pensó para que se pueda utilizar como página real de la hermandad en el futuro.</p>
        <a href="https://fernandezfederico.github.io/WOW-Team_Wipe_Guild.github.io/" class="btn btn-primary"
          target="_blank">Link a la pagina</a>
      </div>
    </div>
    <div class="card mian__card" style="width: 30rem;">
      <img src="assets/porfolio.png" class="card-img-top card__img" alt="imagen de proyecto">
      <div class="card-body card__body">
        <h5 class="card-title">Portfolio (en proceso)</h5>
        <p class="card-text">Portfolio personal realizado cob HTML, SCSS y Javascript. Se utiliza el manejo del DOM para
          cursor personalizado,menu hamburguesa, modo oscuro y efecto de fondo.</p>
        <a href="https://fernandezfederico.github.io/Mi-Portfolio.github.io/" class="btn btn-primary"
          target="_blank">Link
          a la pagina</a>
      </div>
    </div>
  </div>
</main>