.aside{
    
    width: 100%;
    min-width: 80px;
    min-height: 100%;
    .aside__nav {
        padding:2rem;
        width: 100%;
        min-width: 80px;
        height: 100vh;

        display: flex;
        flex-direction: column;
    }

    a:hover {
        background-color: rgb(59, 59, 59);
    }
}